/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "ibm-bold";
  src: url(/fonts/IBMPlexSans-Bold.ttf);
}

@font-face {
  font-family: "ibm-regular";
  src: url(/fonts/IBMPlexSans-Regular.ttf);
}

:root {
  font-family: "ibm-bold";
  font-size: 1em;
  --color1: #232323;
  --color2: #0047ab;
  --color3: #000000;
  --color4: #d1cdcd;
}

body,
html {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
}
